<%= form_for @category,:remote=>true do |f|%>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name,:size=>15 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


